# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
- List of popular languages of data science
- List of commonly used libraries
- Dat Science table
- Some arthimetic functions

## Author
Mujtaba Agha

## Some of the popular languages that Data Scientists use are:
1. Pyhton, 2. SQL, 3. R

## Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow,  2. NumPy,  3. SciPy

## Data Science Tools
| Sr. # | Tools |
| ------ | ------ | 
| 1 | SAS | 
| 2 | Apache Spark | 
| 3| BigML|

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [13]:
# This will convert 200 minutes to hours by diving by 60

In [10]:
200/60

3.3333333333333335